openapi: 3.0.3
info:
  title: EasyShop Products API definition
  description: |
    Using this OpnAPI specification, any consumer can understand the API that are exposed by EasyShop
  termsOfService: https://easyshop.com/terms/
  contact:
    name: API Support
    url: https://www.easyshop.com/support
    email: support@easyshop.com
  license:
    name: EasyShop License
    url: https://www.easyshop.com/licenses/LICENSES-2.0
  version: 1.0.0
servers:
  - url: https://development.easyshop-server.com/v1
    description: Development Server
  - url: https://staging.easyshop-server.com/v1
    description: Staging Server
  - url: https://api.easyshop-server.com/v1
    description: Production Server
paths:
  /categories:
    get:
      summary: List all categories
      description: Returns the list of categories supported by EasyShop
      parameters:
        - name: categoryId
          in: query
          schema:
            type: integer
            minimum: 100
            maximum: 1000
          example: 101
      responses:
        '200':
          description: A list of categories
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryId:
                      type: integer
                    name:
                      type: string
  /categories/{categoryId}:
    get:
      summary: Return the category details
      description: Returns the category from the EasyShop
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: integer
            minimum: 100
            maximum: 1000
            example: 101
      responses:
        '200':
          description: Return category details
          content:
            application/json:
              schema:
                type: object
                properties:
                  categoryId:
                    type: integer
                  name:
                    type: string
  /products:
    get:
      summary: List all products
      description: Returns the list of products supported by EasyShop
      parameters:
        - name: productId
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            example: 1
      responses:
        '200':
          description: A list of products
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    productId:
                      type: integer
                      example: 103
                    name:
                      type: string
                      example: OnePlus 10 pro 5G
                    price:
                      type: number
                      example: 750.00
                    categoryName:
                      type: string
                      example: Mobiles
                    quantity:
                      type: integer
                      example: 63
  /products/{productId}:
    get:
      summary: Returns the product details
      description: Returns the product details from the EasyShop
      parameters:
        - name: productId
          in: in
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            example: 2
      responses:
        '200':
          description: Return the product details
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    productId:
                      type: integer
                      example: 103
                    name:
                      type: string
                      example: OnePlus 10 pro 5G
                    price:
                      type: number
                      example: 750.00
                    categoryName:
                      type: string
                      example: Mobiles
                    quantity:
                      type: integer
                      example: 63
  /orders:
    post:
      summary: Create Order
      description: |
        Post order details to EasyShop for processing and shipping
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      productId:
                        type: integer
                      name:
                        type: string
                      price:
                        type: number
                      categoryName:
                        type: string
                      quantity:
                        type: integer
                address:
                  type: object
                  properties:
                    addressLine:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zipcode:
                      type: string
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
    put:
      summary: Update Order
      description: |
        Update order details to EasyShop for processing and shipping
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: integer
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      productId:
                        type: integer
                      name:
                        type: string
                      price:
                        type: number
                      categoryName:
                        type: string
                      quantity:
                        type: integer
                address:
                  type: object
                  properties:
                    addressLine:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zipcode:
                      type: string
      responses:
        '200':
          description: Order details updated successfully
    delete:
      summary: Delete Order
      description: Delete Order details from EasyShop
      parameters:
        - name: orderId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Order details deleted successfully
    get:
      summary: Get Order details
      description: |
        Get order details from the EasyShop
      parameters:
        - name: orderId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Fetch order details successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        productId:
                          type: integer
                        name:
                          type: string
                        price:
                          type: number
                        categoryName:
                          type: string
                        quantity:
                          type: integer
                  address:
                    type: object
                    properties:
                      addressLine:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      zipcode:
                        type: string

